{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Add your page-specific content here -->
    <div class="container">

        <h1>Welcome to the Expense Tracker</h1>
        <p>This is the index page.</p>
    </div>
{% endblock %}